
@media screen and (min-width: 1700px) {
     .swipper_image img {
          width: 649px;
          border-radius: 40px;
          height: 814px;
      }
}

@media screen and (min-width: 992px) {
     .mobile_sidebar_icon_times {
          display: none;
     }
     .mobile_sidebar_icon_bar {
          display: none;
     }
     .section_image {
          display: none;
     }
     
}

@media screen and (max-width: 1750px) {
     .swiper-button-prev.swiper-button-disabled, .swiper-button-prev {
          padding-left: 83%;
      }
}
@media screen and (max-width: 1500px) {
     .swiper-button-prev.swiper-button-disabled, .swiper-button-prev {
          padding-left: 80%;
      }
}
@media screen and (max-width: 1250px) {
     .swiper-button-prev.swiper-button-disabled, .swiper-button-prev {
          padding-left: 75%;
      }
}


@media screen and (max-width: 1199px) {
     .swipper_image img {
          width: 468px;
          border-radius: 40px;
     } 
      
}

@media screen and (max-width: 991px) {
     .section_slider {
          display: none;
     }
     .section_image img {
          width: 100%;
          border-radius: 35px;
          margin-bottom: 30px;
      }
      .section_image {
          position: relative;
      }
      
      .section_image .top_conent {
          position: absolute;
          top: 24px;
          color: #fff;
          left: 30px;
      }
      
      .section_image .bottom_para_content {
          position: absolute;
          bottom: 60px;
          left: 33px;
          color: #fff;
          font-size: 29px;
      }
     .auth_wrapper::after {
          display: none;
     }
     .swipper_image img {
          width: 688px;
          border-radius: 40px;
          margin-bottom: 20px;
     }
     .main-section {
          padding: 20px 30px;
     }
     .sidebar { 
          display: none; 
     }
     .card_item {
          margin-bottom: 30px;
     }
     .mobile_sidebar_icon_bar {
          font-size: 20px;
          margin-bottom: 20px;
     }
     .custom_card_body.slider_last_item {
          padding: 20px 30px 100px;
     }
     .swiper-wrapper.slider_last_item {
          padding-bottom: 130px;
     }
     .swiper-button-next { 
          margin-top: 44%;
     }
     .swiper-button-prev { 
          margin-top: 44%;
     }
     .scroll_item { 
          bottom: 79px; 
     }
     .swiper-button-prev.swiper-button-disabled, .swiper-button-prev {
          padding-left: 70%;
      }
      
}

@media screen and (max-width: 767px) {
     .swipper_image img {
          width: 510px;
          border-radius: 40px;
          margin-bottom: 20px;
     }
    
     .swiper-button-next { 
          margin-top: 51%;
     }
     .swiper-button-prev { 
          margin-top: 51%;
     }
}

@media screen and (max-width: 575px) {
     .swipper_image img {
          width: 100%; 
     }
     .swipper_content_bottom p {
          color: #fff;
          padding: 0px 0px 42px 45px;
          font-size: 20px;
          max-width: 292px;
          line-height: 27px;
     }
     .swipper_content_top .top_conent h2 {
          font-size: 20px;
     }
     .swipper_content_top .top_conent .text p {
          font-size: 17px;
     }
     .auth_title h2 { 
          font-size: 32px; 
     }
     section.auth_section {
          padding: 70px 0px;
     }
     .login_btn_group {
          justify-content: center;
     }
     .section_input.login {
          padding: 70px 16px 56px;
     }
     .auth_title.login p {
          margin-bottom: 32px;
     }
     .form_bottom_list {
          margin-top: 25px;
     }
     .details_btn { 
          justify-content: center;
          margin-top: 20px;
     }
     .details_single_btn {
          margin-bottom: 32px;
     }
     .custom_card_body {
          padding: 12px 9px;
     }
     .main-section {
          padding: 20px 12px;
     }
     .feature_item_menu_title {
          border-bottom: 1px solid #fff;
          width: 141px;
          margin-left: 37px;
     }
     .sidebar.style-2 {
          width: 100%;
     }
     .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
          display: none;
     }
     .top_conent .logo {
          margin-right: 0px;
     }
     .section_image .bottom_para_content {
          font-size: 19px;
     }
     .swiper-button-next {
          margin-top: 87%;
      }
     .swiper-button-prev {
          margin-top: 87%;
     }
     .swiper-button-prev.swiper-button-disabled, .swiper-button-prev {
          padding-left: 49%;
     }
      
}

@media screen and (max-width: 425px) {
     .section_input { 
          padding: 33px 22px; 
     }
     .auth_title h2 {
          font-size: 26px;
     }
     .swipper_content_top .top_conent h2 {
          font-size: 16px;
     }
     .swipper_content_top .top_conent .text p {
          font-size: 14px;
     } 
     .swiper-horizontal>.swiper-pagination-bullets, 
     .swiper-pagination-bullets.swiper-pagination-horizontal,
     .swiper-pagination-custom, .swiper-pagination-fraction {
          right: 34px;
          width: auto !important;
          margin: auto;
          text-align: center;
          padding-bottom: 22px;
      }
     span.swiper-pagination-bullet, 
     span.swiper-pagination-bullet.swiper-pagination-bullet-active {
          width: 14px;
          height: 14px; 
     }
     .from_box { 
          padding: 13px 17px 13px;
     }
     .auth_icon img { 
          margin-right: 20px;
     }
     img.msg_image { 
          margin-right: 17px;
     }
     .from_box.password {
          padding: 15px 17px 17px;
     }
     .login_btn_group {
          margin-bottom: 37px;
     }
     .login_text { 
          margin: 40px 0px 10px 0px;
     }
     .section_image .bottom_para_content {
          left: 26px;
     }
     .section_image .top_conent {
          left: 5px;
     }
     .modal_btn_group { 
          justify-content: center;
          align-items: center;
          padding: 13px 22px 30px 19px;
     }
     .modal_btn_style {
          margin-bottom: 15px;
     }
     .swiper-button-prev {
          margin-top: 88%;
     }
     .swiper-button-next {
          margin-top: 88%;
     }
     .swiper-button-prev.swiper-button-disabled, .swiper-button-prev {
          padding-left: 43%;
     }
}

@media screen and (max-width: 375px) {
     .swiper-button-prev , .swiper-button-next{
          margin-top: 97%;
     } 
}

@media screen and (max-width: 320px) {
     .swiper-button-next {
          margin-top: 121%;
     }
     .swiper-button-prev {
          margin-top: 121%;
     }
     .swiper-button-prev.swiper-button-disabled, .swiper-button-prev {
          padding-left: 33%;
     }
}