body {
     margin: 0;
     padding: 0;
     outline: 0;
    
}

/* dashboard section css start here */
button.tablinks.active {
    background: #fff;
    color: #000;
    font-weight: 700;
}
button.tablinks {
    background: transparent;
    color: #fff;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    padding: 8px 9px;
}
.left_menu_item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.left_menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16.64px;
    padding: 10px 30px;
    display: inline-block;
    width: 100%;
}

.left_icon_img img {
    width: 15px;
    margin-right: 12px;
}
.left_menu ul {
    margin: 0;
    padding: 0;
}
.left_menu ul li {
    list-style: none;
    margin-bottom: 10px;
}
.left_menu {
    padding-top: 40px;
}
.left_menu ul li a:hover {
    background-color: #06122a;
}
.main-section {
    padding: 70px 30px;
    
}
.sidebar {
    background-color: #0F1E3C;
    height: 1100px;
    border-radius: 10px;
    position: relative;
}

.left_menu ul li .active {
    font-weight: 700;
}
.admin_side_logo {
    color: #fff;
    position: absolute;
    bottom: 18px;
    left: 14px;
}

.admin_side_logo .text h2 {
    font-size: 20px;
}

.admin_side_logo .text {
    line-height: 13px;
}

.admin_side_logo .text p {
    margin: 0;
    padding: 0;
}
.top_conent {
    align-items: center;
}

.top_conent .logo {
    margin-right: 13px;
}
.feature_item_menu_title h2 {
    color: #fff;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 1px;
}

.feature_item_menu_title {
    border-bottom: 1px solid #fff;
    width: 250px;
    margin-left: 37px;
}

.card_item {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}
.custom_card_body {
    padding: 20px 30px;
}

.modal-header {
    background: #0F1E3C;
    color: #fff;
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 18px;
}
.modal_btn_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 13px 22px 30px 19px;
}

button.modal_close_btn.select_btn {
    padding: 15px 46px;
}
button.modal_close_btn {
    background: #0F1E3C !important;
    padding: 12px 40px;
    color: #fff;
    border: none;
    border-radius: 50px;
}
.modal_item_list ul li {
    list-style: none;
    padding-left: 20px;
}

.modal_item_list ul {
    margin: 0;
    padding: 0;
}

.modal_item_list {
    border:  1px solid #E0E0E0;
    border-radius: 15px;
    padding: 13px 0px;
}
li.active_modal_list {
    background: #0F1E3C;
    color: #fff;
}
.modal_btn_style span {
    margin-left: 8px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 22px;
    margin-top: 355px;
    width: 40px;
    height: 40px;
    left: 1349px;
    top: 463px;
    background: linear-gradient(180deg, #FFFFFF 0%, #E0E0E0 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-weight: 800;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-prev {
    width: 100%;
    padding-top: 199px;
    padding-left: 86%;
}
.swiper-button-next {
    width: 40px;
    height: 40px;
}
.scroll_item span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.scroll_item {
    position: absolute;
    right: 17px;
    bottom: 62px;
    z-index: 99999;
}
.swiper-button-prev:after {
    background: linear-gradient(180deg, #0F54F0 0%, #11222B 100%)!important;
    color: #fff !important;
}
.swiper-button-next:after {
    background: linear-gradient(180deg, #0F54F0 0%, #11222B 100%)!important;
}

.swiper-button-next.swiper-button-disabled::after {
    background: linear-gradient(180deg, #FFFFFF 0%, #E0E0E0 100%) !important;
    color: #000 !important;
}

.swiper-button-prev.swiper-button-disabled::after {
    background: linear-gradient(180deg, #FFFFFF 0%, #E0E0E0 100%) !important;
    color: #000 !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 21px;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #FFFFFF 0%, #E0E0E0 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    color: #000;
    font-weight: 800;
}
/* .main_body {
    background-color: #7D7F80;
} */

.sidebar.style-2 {
    display: block;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    height: 1500px;
    transition: all .3s ease-in-out;
}
.tab_inner_class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding: 20px 30px 0px;
}
.mobile_sidebar_icon_times svg {
    color: #fff;
    font-size: 20px;
}
button.tablinks {
    border: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 11px;
}


 
.custom_card_title {
    background: #0F1E3C;
    padding: 20px;
    color: #fff;
}
.custom_card_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.details_btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.details_single_btn a {
    background: #0F1E3C;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    color: #fff;
    padding: 16px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.card_item label {
    color: #727272;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 14.22px;
    width: 100%;
    text-align: start;
}

select#selectColor {
    color: #727272;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 14.22px;
}

.card_item::placeholder {
    color: #727272;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 14.22px;
}
/* dashboard section css end here */



 
/* auth section css start here */
section.auth_section {
    padding: 100px 0px;
}
.swiper {
     width: 100%;
     height: 100%;
}

.swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #fff;
     display: flex;
     justify-content: start;
     align-items: center;
}
.swipper_image img {
     width: 558px; 
     border-radius: 40px;
}
 
 
 .swipper_item {
     position: relative;
 }
 
 .swipper_content_top {
     position: absolute;
     top: 0;
     color: #fff;
 }
 
 .swipper_content_bottom {
     position: absolute;
     bottom: 0;
     font-family: 'Nunito';
     font-style: normal;
     font-weight: 600;
     font-size: 32px;
     text-align: start;
     line-height: 36px;
     max-width: 399px;
 }
 
 .swipper_content_bottom p {
     color: #fff;
     padding: 0px 0px 42px 45px;
 }
 
 .swipper_content_top .text {
     text-align: start;
 }
.section_input {
     background-image: url('../images/login-two.png');
     width: 100%;
     background-repeat: no-repeat;
     padding: 43px;
     background-size: cover;
     border-radius: 40px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
     width: 19px;
     height: 19px;
     background: linear-gradient(180deg, #0057FF 0%, #0F1E3C 100%);
 }
 span.swiper-pagination-bullet {
     width: 19px;
     height: 19px;
     background: #fff;
     opacity: 1;
 }
  
 
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,8px);
    top: var(--swiper-pagination-top,auto);
    right: 34px;
    width: auto !important;
    margin: auto;
    text-align: end;
    padding-bottom: 50px;

}

.swipper_content_top .top_conent {
     padding: 35px 0px 0px 30px;
 }

 .swipper_content_top .top_conent h2,  
 .swipper_content_top .top_conent .text p {
     margin: 0;
     font-family: 'Nunito';
 }
 
 .swipper_content_top .top_conent .text {
     margin-left: 22px;
 }
 
 .swipper_content_top .top_conent {
     align-items: center;
 }

.swipper_content_top .top_conent h2 {
     font-weight: 700;
     font-size: 32.5566px;
 }
.auth_wrapper {
     position: relative;
}
.auth_wrapper::after {
     position: absolute;
     content: "";
     top: 35%;
     right: 49%;
     width: 20px;
     z-index: 99999999 !important;
     height: 200px;
     border-radius: 20px;
     background-color: #0F54F0;
}
.auth_title h2 {
     font-style: normal;
     font-weight: 800;
     font-size: 45px;
     font-family: 'Nunito', sans-serif;
     margin: 0;
}

.auth_title {
     text-align: center;
}
.auth_title p {
     font-family: 'Nunito';
     font-style: normal;
     font-weight: 600;
     font-size: 15.57px;
     padding: 5px 0px 15px 0px;
 }

 .from_box {
     display: flex;
     align-items: center;
     border-bottom: 1px solid rgba(83, 113, 129, 0.4);
     padding: 19px 30px 19px;
 }
 
 .auth_input span {
     display: inline-block;
     font-family: 'Nunito';
     font-style: normal;
     font-weight: 700;
     font-size: 15px;
     width: 100%;
 }
 
 .submit_btn {
     margin-top: 30px;
     text-align: center;
 }
 
 .submit_btn button {
     background: #0F1E3C !important;
     color: #fff;
     padding: 16px 37px;
     border-radius: 56px;
     font-family: 'Nunito';
     border: none;
 }
 
.auth_input input[type="text"] {
     width: 100%;
     background: #DCE2E1;
     border: none;
     outline: none;
}

.auth_input input[type="password"]  {
     width: 100%;
     background: #0F1E3C;
     border: none;
     outline: none;
     color: #fff;
}
.top_color {
     background: #DCE2E1;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
      
}
.password_color {
     background-color: #0F1E3C;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
    
}
.password_color  .auth_input span {
     color: #fff;
}
.auth_icon img {
     text-align: center;
     width: 28px;
     margin-right: 32px;
}
.from_box.password {
     padding: 22px 30px 17px;
}

.from_box.password.last_border {
     border-bottom: none;
}
.form_bottom {
     display: flex;
     flex-wrap: wrap;
     margin-top: 35px;
     align-items: center;
     justify-content: center;
 }
 
 .form_bottom_txt {
     padding-right: 13px;
 }

 .form_bottom_txt a {
     background: #0057FF;
     color: #fff;
     text-decoration: none;
     padding: 10px 20px;
     border-radius: 24px;
     display: block;
 }

 .form_bottom_list ul {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     margin: 0;
     padding: 0;
 }
 
 .form_bottom_list ul li {
     list-style: none;
     padding-left: 15px;
 }
 
 .form_bottom_list ul li a {
     width: 35px;
     height: 35px;
     border: 1px solid #11222B;
     display: block;
     text-align: center;
     line-height: 33px;
     border-radius: 100%;
     color: #11222B;
     transition: all .3s ease-in-out;
 }
 .form_bottom_list ul li a:hover {
    transform: rotate(360deg);
    background-color: #0F1E3C;
    color: #fff;
 }
 img.msg_image {
    width: 33px;
    margin-right: 28px;
 }

 
 /*  login */
 .auth_title.login p {
    max-width: 400px;
    margin: auto;
    margin-bottom: 50px;
}

.login_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0px 30px 0px;
}

.remember_text a, .forget_text a {
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 17px;
    color:  #7D7F80;
    transition: all .3s ease-in-out;
}
.remember_text a:hover, .forget_text a:hover {
    color: #0F54F0;
}
.loggin_btn button {
    background-color: #0F54F0 !important;
    border: none;
}
.submit_btn a {
    background: #0F1E3C !important;
    color: #fff;
    padding: 17px 37px;
    border-radius: 56px;
    font-family: 'Nunito';
    border: none;
    text-decoration: none;
}
.login_btn_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    flex-wrap: wrap;
}
.section_input.login {
    padding: 100px 43px 70px;
}
 /* auth section css end here */